body{
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  margin-top: 0px;
}
a{
  color: white;
}

header{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: black;
  height: 69px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin: auto 0;
  flex-wrap: wrap;
  z-index: 1;
}

#logo img{
  height: 50px;
  padding-left: 10px;
}

nav{
  border: 2px solid white;
  display: block;
  margin-right: 0px;
  text-align: right;
  text-align: right;
  flex-grow: 1;
}

.navigation {
  background-color: black;
}
#main-content{
  border: 2px solid red;
  background-color: black;
  width: 1200px;
  margin: auto;
  padding-top: 69px;
}

#mission{
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-size: cover;
  width: auto;
  margin: 0 auto;
  width: 1200px;

}
