/*Global Styles*/
body{
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  margin: 0px auto;
}

a{
  color: white;
}

/*Header Styles*/

header{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: black;
  height: 69px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  flex-wrap: wrap;
  z-index: 1;
}

/*Navigation Styles*/

nav{
  background-color: black;
  display: block;
  margin-right: 0px;
  text-align: right;
  flex-grow: 1;
}

nav .navigation{
  padding-right: 10px;
}

/*Logo*/

#logo img{
  height: 50px;
  padding-left: 10px;
}

/*Main Content Starts*/

#main-content{
  background-color: black;
  width: 1200px;
  margin: auto;
}

#mission{
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-size: cover;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  justify-content: center;
}

#mission .mission-statement{
  background-color: black;
}

#featured-tea{
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

#featured-tea .tea-of-the-month{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#featured-tea .tea-of-the-month img{
  height: 200px;
  width: auto;
  padding: 5px;
  margin: 10px;
}
