/*Global Styles*/
body{
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  margin: 0px auto;
}

a{
  color: white;
}

/*Header Styles*/

header{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: black;
  height: 69px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  flex-wrap: wrap;
  z-index: 1;
}

/*Navigation Styles*/
#header-nav{
  position: fixed;
  display: inline-block;
  right: 20px;
  padding: 20px 10px;
}

#header-nav nav{
  background-color: black;
  display: block;
  text-align: right;
  flex-grow: 1;
  width: 100%;
  text-align: right;
  height: 69px;
  align-items: flex-end;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

/*Logo*/

#logo img{
  height: 50px;
  padding-left: 10px;
}

/*Main Content Starts*/

#main-content{
  background-color: black;
  width: 1200px;
  margin: auto;
}

#mission{
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-size: cover;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  justify-content: center;
}

#mission .mission-statement{
  background-color: black;
}

/*Featured Tea div styles*/

#featured-tea{
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  height: 770px;
}

#featured-tea .tea-of-the-month{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#featured-tea .tea-of-the-month img{
  height: 200px;
  width: auto;
  padding: 5px;
  margin: 10px;
}

/*Locations Div styles*/

#locations{
  height: 500px;
  width: 1200px;
  background-image: url(./images/img-locations-background.jpg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

#locations .addresses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}

#locations h2{
  padding: 10px;
  margin:5px 20px;
}

#locations h3{
  padding-bottom: 15px;
  margin: 0 auto,
}

#locations p{
  padding-bottom: 15px;
  margin: 0 auto,
}

.downtown,
.east-bayside,
.oakdale{
  flex-basis: 280px;
  background-color: black;
  margin: 0 auto;
  opacity: 1;
  margin: 5px 20px;
}

/*Footer Styles start*/
footer h2, h5{
  text-align: center;
}

footer .copyright h5{
  text-align: left;
  padding-left: 20px;
}
